<%- include('header') -%>

<div class="success">
  <h1>Booking success</h1>
</div>

<div class="showTicket">
    <p>Name : <%= name %></p>
    <p>Phone : <%= number %></p>
    <p>Email : <%= email %></p>
    <p>Hall Details : <%= details %></p>
    <p>Total Price : <%= price %></p>
</div>

<%- include('footer') -%>
