<%- include('header') -%>
<div class="Final">
  <div class="Heading">
    <h1>RESUME</h1>
  </div>

  <div class="FinalName">
    <p class="Name1"><%= NAME %></p>
    <p>EMAIL : <br> <%= EMAIL %></p>
    <p>NUMBER : <%= NUMBER %></p>
    <p>QUALIFICATIONS : <br><%= QUALIFICATIONS %></p>
    <p>SKILLS : <br> <%= TECHNOLOGIES %></p>
    <p>PAST EXPERIENCES : <br><%= EXP %></p>
    <p>ABOUT ME : <br><%= TEXTAREA %></p>
  </div>

</div>
<%- include('footer') -%>
